/*=============================================================================================	  
	Author : Muhammad Febriansyah
==============================================================================================*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@import url("panton.css");
body {
	color: #393939;
	font-size: 14px;
	font-family: 'Panton', sans-serif;
	font-weight: 400;
}
.wow {
   visibility: hidden;
}
.overflowHidden {
    overflow: hidden;
}
.animated {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    animation-timing-function: ease;
}
img {
	border: 0;
	max-width: 100%;
	height: auto;
}
.italic {
	font-style: italic;
}
.bold {
	font-weight: bold;
}
.regular {
	font-weight: lighter;
}
.left {
	float: left;
	display:inline;
}
.right {
	float: right;
	display:inline;
}
.relative{
	position:relative;
}
.clear {
	clear: both;
}
a {
	text-decoration: none;
    transition: all 0.3s ease-in-out 0s;
}
strong {
	font-weight: 700;
}
p {
	margin: 1px 0 15px;
	line-height: 25px;
}
input, textarea, select {
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	border: none;
	border: 1px solid #c9c9c9;
	padding: 5px;
	margin: 0;
	color: #666;
}
img {
	margin-bottom: -3px;
}
input[type=checkbox], input[type=radio] {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}
h1 {
	font-size: 32px;
}
h2 {
	font-size: 28px;
}
h3 {
	font-size: 24px;
}
h4 {
	font-size: 20px;
}
h5 {
	font-size: 16px;
}
h6 {
	font-size: 14px;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}
section {
    position: relative;
}
/* structure
----------------------------------------------------------------------------------------------*/
.wrapper {
	width: 1200px;
	margin: 0 auto;
}
.mid-wrapper{
	width: 960px;
	margin: 0 auto;
}
.inner_wrap{ width:800px; margin: 0 auto; }
.afterclear:after {
	clear: both;
	content: '';
	display: block;
}
/* style button
----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------*/

/*------ header -----*/

header{
	position:relative;
}
header .bottom {
    background-color: #383839;
    text-align: right;
    padding: 25px 0 15px 0;
	position:relative;
	z-index:2;
}
header .logo {
    position: absolute;
    top: 0;
	z-index:1;
}
header .line-fake{
	background:url(../images/material/line-logo.png) repeat-x;
	width:100%;
	height:15px;
	position:absolute;
	top:0;
	left:0;
}
header .bottom .main-menu,header .bottom .sub-menu,header .bottom .sub-menu .search,header .bottom .sub-menu .burger-menu{
	display:inline-block;
}
header .bottom ul {
    margin: 0px;
    padding: 0px 0px 0 0px;
    list-style-type: none;
    display: inline-block;
}
header .bottom ul li {
    display: inline-block;
    margin-left: 50px;
	position:relative;
}
header .bottom ul li a {
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
	line-height:55px;
	
}
header .bottom ul li a:hover,header .bottom .sub-menu a:hover{
	color:#ed1e24;
}
header .bottom ul li:after{
	content:url(../images/material/arrow-menu.png);
	width:23px;
	height:53px;
	position:absolute;
	right:-35px;
	top:0;
}
header .bottom ul li:last-child:after{
	content:'';
}
header .bottom .sub-menu {
	padding:0 10px;
}
header .bottom .sub-menu a{
	color:#fff;
	font-size:30px;
	margin:0 5px;
}

/*header .bottom ul li:after{
	content: "\f054";
	color:#58595b;
	position:absolute;
	right:0;
	top:0;
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 70px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	
}*/
/*-------------------*/
/*--bx-style--*/
.bx-wrapper .bx-viewport{
	-moz-box-shadow:none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border:none;
    left: 0;
}
.bx-wrapper{
	margin: 0 auto;
}
ul#homeSlider,ul#newsSlider{
	padding: 0;
	margin:0;
}
#slider-home .bx-wrapper .bx-pager{
	bottom: 110px;
}
.slider-event .bx-wrapper .bx-pager{
	bottom: 10px;
}
#slider-home .bx-wrapper .bx-pager.bx-default-pager a,
.slider-event .bx-wrapper .bx-pager.bx-default-pager a{
	background: #d91f26;
}
#slider-home .bx-wrapper .bx-pager.bx-default-pager a:hover,#slider-home .bx-wrapper .bx-pager.bx-default-pager a.active,
.slider-event .bx-wrapper .bx-pager.bx-default-pager a:hover,.slider-event .bx-wrapper .bx-pager.bx-default-pager a.active{
	background: #fff;
}
/*---------*/
.edge-pathBottom{
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
}
.edge-pathTopBottom{
    -webkit-clip-path: polygon(0 13%, 100% 0, 100% 87%, 0 100%);
    clip-path: polygon(0 13%, 100% 0, 100% 87%, 0 100%);
}
.edge-pathTopBottom-reserve{
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 87%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 87%);
}
edge.block{
	overflow:hidden;
}
.block {
  color: #fff;
  font-family: 'Fira Sans', sans-serif;
  margin: 0 0 200px;
  padding: 20% 20px;
  text-align: center;
}
.-white {
  background: #fff;
}
.-berry {
  background: #b52b4a;
}
.edge--bottom {
  position: relative;
  z-index: 1;
}
.edge--bottom:after {
  background: inherit;
  content: '';
  display: block;
  height:35px;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 3;
  -webkit-backface-visibility: hidden;
}
.edge--bottom:after {
  bottom: 0;
  -webkit-transform: skewY(-1.5deg);
          transform: skewY(-1.5deg);
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
}
.edge--top {
  position: relative;
  z-index: 1;
}
.edge--top:before {
  background: inherit;
  content: '';
  display: block;
  height: 35px;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 3;
  -webkit-backface-visibility: hidden;
}
.edge--top:before {
  top: 0;
  -webkit-transform: skewY(1.5deg);
          transform: skewY(1.5deg);
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
}


.edge--top--reverse {
  position: relative;
  z-index: 1;
}
.edge--top--reverse:before {
  background: inherit;
  content: '';
  display: block;
  height:35px;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 3;
  -webkit-backface-visibility: hidden;
}
.edge--top--reverse:before {
  top: 0;
  -webkit-transform: skewY(-1.5deg);
          transform: skewY(-1.5deg);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}
.edge--both--reverse {
  position: relative;
  z-index: 1;
}
.edge--both--reverse:before, .edge--both--reverse:after {
  background: inherit;
  content: '';
  display: block;
  height: 35px;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 3;
  -webkit-backface-visibility: hidden;
}
.edge--both--reverse:before {
  top: 0;
  -webkit-transform: skewY(-1.5deg);
          transform: skewY(-1.5deg);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}
.edge--both--reverse:after {
  bottom: 0;
  -webkit-transform: skewY(1.5deg);
          transform: skewY(1.5deg);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}
#slider-home{
	margin-bottom:-80px;
	z-index:3;
	overflow:hidden;
}
.findtire{
	background: url(../images/material/find_tire.png) no-repeat;
	width: 476px;
	height: 236px;
	position: absolute;
	bottom: -48px;
	left: 0;
	z-index: 1;
}
#product-home{
	overflow:hidden;
	margin-bottom:-80px;
	z-index:2;
}
.product-section{
	background: url(../images/content/bg-product.jpg) no-repeat;
	width: 100%;
	height: 622px;
	position: relative;
}
.left-capt1{
	position: relative;
	display: inline-block;
	background: url(../images/material/bg-prod1.png) no-repeat;
	height: 100%;
	padding:115px 30px;
	width: 648px;
	vertical-align: top;
	z-index: 2;
}
.title-cap{
	display: block;
	position: relative;
	width: 250px;
    margin: 0 auto 60px;
}
.sub-cap{
	width: 80%;
	text-align: center;
}
.title-cap:before{
	content: url(../images/material/line-grey.png);
	width: 60px;
	height: 97px;
	position: absolute;
	left: -70px;
	top: 0;
}
.title-cap h3{
	font-size: 40px;
	text-transform: uppercase;
	color: #000;
	font-family: 'Panton Black';
	font-weight: 700;
	font-style: italic;
	margin:0;
}
.title-cap h3:last-child{
	margin-left: -15px;
}
.whiteFont{
	color:#fff !important;
}
.redFont{
	color:#ec1c24 !important;
}
.sub-cap p{
	font-size: 24px;
	text-transform: uppercase;
	color: #fff;
	font-family: 'Panton Black';
	font-weight: 700;
	margin: 0;
}
.sub-cap .side-triangle{
	background: #404041;
	padding: 10px;
	width: auto;
	display: inline-block;
	text-align: center;
	position: relative;
	margin:5px 25px;
}
.sub-cap .side-triangle.white-triangle{
	background: #fff;
}
.sub-cap  .white-triangle p{
	color: #ec1c24;
}
.sub-cap .side-triangle:after{
	content: '';
	position: absolute;
	right: -25px;
	top: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 45px 25px 0 0;
	border-color: #404041 transparent transparent transparent;
}
.sub-cap .side-triangle.white-triangle:after{
	border-color: #fff transparent transparent transparent;
}
.sub-cap .side-triangle:before{
	content: '';
	position: absolute;
	left: -25px;
	top: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 45px 25px;
	border-color: transparent transparent #404041 transparent;
}
.sub-cap .side-triangle.white-triangle:before{
	border-color: transparent transparent #fff transparent;
}
.left-capt2{
	position: relative;
	display: inline-block;
	background: url(../images/material/bg-prod2.png) no-repeat;
	height: 100%;
	padding:300px 0px 115px 135px;
	width: 446px;
	margin-left: -200px;
	vertical-align: top;
	z-index: 1;
}
.caption-small{
	color: #fff;
	width: 200px;
	display: block;
}
.caption-small h4{
	color: #fff;
	font-size: 16px;
	margin: 0;
	text-transform: uppercase;
}
.caption-small p{
	color: #fff;
	font-size: 14px;
}
a.learnMore{
	background: url(../images/material/arrow-learn.png) no-repeat right center;
	font-size: 14px;
	color: #fff;
	text-align: left;
	padding: 0 30px 0 0;

}
#news-home{
	z-index:2;
	overflow:hidden;
	margin-bottom:-80px;
}
.news-section{
	/*background: url(../images/content/slide-news1.jpg) no-repeat;*/
    width: 100%;
    height: 400px;
    position: relative;
}
.left-news1{
	position: absolute;
	left: 0;
	top: 0;
    display: inline-block;
    background: url(../images/material/bg-news1.png) no-repeat;
    height: 100%;
    padding: 120px 0px 0px 100px;
    width: 481px;
    vertical-align: top;
    z-index: 1;

}

.news-cap1 .title-cap:before{
	content: url(../images/material/line-dark.png);

}
#newsSlider li {
    background-position: right;
    height: 400px;
}

#newsSlider li .slide-caption {
    background: url(../images/material/bg-news2.png) no-repeat;
    width: 487px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 350px;
    color: #fff;
 	padding: 100px 0px 0px 150px;
}
.slider-news .bx-wrapper .bx-controls-direction a{
	width: 50px;
	height: 50px;

}
.slider-news .bx-wrapper .bx-next {
    right: 40px;
    background: url(../images/material/arrow-next.png) no-repeat 0px 0px;
}
.slider-news .bx-wrapper .bx-prev {
    left: 800px;
    background: url(../images/material/arrow-prev.png) no-repeat 0 0px;
}
.bx-wrapper .bx-prev:hover,
.bx-wrapper .bx-next:hover{
	background-position: 0 0;
}
.eventSection{
	width: 100%;
    height: 542px;
    position: relative;
}
.left-event1 {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    background: url(../images/material/bg-event1.png) no-repeat;
    height: 100%;
    padding: 55px 0px 0px 50px;
    width: 731px;
    vertical-align: top;
    z-index: 1;
}
.event-title{
	font-size: 18px;
    text-transform: uppercase;
    color: #000;
    font-family: 'Panton Black';
    font-weight: 700;
    margin: 0;
}
.event-row{
	clear: both;
	padding: 20px 0;
}
.date-event{
	display: inline-block;
	background: #404041;
	padding: 10px 30px 10px 20px;
	height:78px;
	border-radius:20px 0 20px 20px;
	text-align: center;
	vertical-align: middle;
	margin-right: 40px;
	position:relative;
}
.date-event:after{
	content: url(../images/material/right-box.png);
	width:30px;
	height:78px;
	position:absolute;
	right:-14px;
	top:0;
	
	
}
.date-event .number{
	font-size: 24px;
	color: #ffffff;
	display:block;
}
.date-event .month{
	font-size: 24px;
	color: #ffffff;
	font-family: 'Panton Black';
    font-weight: 700;
    clear: both;
}
.detail-event{
	display: inline-block;
	padding: 5px 0;
	vertical-align: middle;
}
.detail-event h4{
	margin:0 0 5px 0;
	font-size: 16px;
	color: #d91f26;
	font-family: 'Panton Black';
    font-weight: 700;
}
.detail-event p{
	margin:0;
}
a.viewAll {
    background: url(../images/material/arrow-view.png) no-repeat right center;
    font-size: 14px;
    color: #d91f26;
    text-align: left;
    font-family: 'Panton Black';
    font-weight: 700;
    padding: 0 30px 0 0;
}
.event-row a.viewAll{
	margin-left: 150px;
} 
#eventSlider li {
    background-position: right;
    height: 542px;
}


/*--------footer-----------*/
#top-footer{
	clear: both;
	display: block;
	background: #404041;
	padding: 20px;
}
.maskot{
	background: url(../images/material/maskot.png) no-repeat;
	width: 164px;
	height: 204px;
	position: absolute;
	left: 40px;
	bottom: 0;
	z-index: 4;
}
.left-top-footer{
	display: inline-block;
	padding-left: 220px;
	position: relative;
	vertical-align: top;
}

.right-top-footer{
	display: inline-block;
	position: relative;
	vertical-align: top;
	padding:20px 0 0 100px;
}
.left-top-footer:after{
	content: "/";
	color: #fff;
	position: absolute;
	right: -50px;
	top: 0;
	display: inline-block;
	font-size: 80px;
}
.left-top-footer h1{
	font-size: 40px;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Panton Black';
    font-weight: 700;
    font-style: italic;
    margin: 0;
}
.socmed,.subscribe{
	display: inline-block;
	vertical-align: top;
	margin-right: 25px;
}
.socmed label{
	font-size: 14px;
	color: #fff;
	margin-bottom: 15px;
	display: block;
}
.socmed ul{
	margin:0;
	padding:0;
}
.socmed ul li{
	display: inline-block;
	margin-right: 10px;
}
.socmed ul li a{
	width: 30px;
	height: 30px;
	line-height: 33px;
	display: inline-block;
	text-align: center;
	font-size: 18px;
	border-radius: 100%;
	background: #fff;
	color: #d91f26;
}
.subscribe input[type=text]{
	background: url(../images/material/arrow-input.png) no-repeat 98% center;
	color: #fff;
	font-size: 14px;
	border-radius: 10px;
	padding:5px 10px;
	margin-top: 25px;
}
footer{
	clear:both;
	border-top:4px solid #cc2329;
}
footer .top-foot,footer .bottom-foot{
	overflow:hidden;
	clear:both;
}
.foot-menu{
	width:65%;
	background:#231f20;
	position:relative;
	height:237px;
	padding:30px 40px;
	float:left;
}
.sponsor{
	width:35%;
	float:left;
	padding:70px 0 0 170px;	
}
.sponsor label{
	display:block;
	margin-bottom:15px;
	padding-left:15px;
}
.foot-menu:after{
	content:url(../images/material/foot-triangle.png);
	width:166px;
	height:237px;
	position:absolute;
	right:-166px;
	top:0;
}
.row-menu{
    margin-left: -15px;
    margin-right: -15px;
}
.row-menu:before{
	content: '';
    display: table;
}
.row-menu:after{
	content: '';
    clear: both;
}
.row-menu .col5 {
    float: left;
    width: 20%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 30px;
}
.row-menu .col5 h3{
	margin:0 0 10px 0px;
	color:#fff;
	text-transform:uppercase;
}
.row-menu .col5 ul{
	padding:0;
	margin:0;
}
.row-menu .col5 ul li{
	list-style:none;
	margin-bottom:5px;
	display:block;
}
.row-menu .col5 ul li a{
	font-size:14px;
	color:#d0d2d3;
}
.row-menu .col5 ul li a:hover{
	color:#ed1e24;
}
footer .bottom-foot{
	background:#000;
	color:#d0d2d3;
	padding:5px 20px;
	border-top:1px #999 dashed;
}
footer .bottom-foot p{
	padding-top:30px;
}
/*-------------------*/
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 480px) {
/* Mobile styles */
}
 @media screen and (min-width:481px) and (max-width:1024px) {
/* Tablet styles */
}
 @media only screen and (min-width: 1140px) {
/* Desktop styles */
}
