/*=============================================================================================	  
	Author : Muhammad Febriansyah
==============================================================================================*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@import url("panton.css");
body {
	color: #393939;
	font-size: 14px;
	font-family: 'Panton', sans-serif;
	font-weight: 400;
}
.wow {
   visibility: hidden;
}
.overflowHidden {
    overflow: hidden;
}
.animated {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    animation-timing-function: ease;
}
img {
	border: 0;
	max-width: 100%;
	height: auto;
}
.italic {
	font-style: italic;
}
.bold {
	font-weight: bold;
}
.regular {
	font-weight: lighter;
}
.left {
	float: left;
	display:inline;
}
.right {
	float: right;
	display:inline;
}
.relative{
	position:relative;
}
.clear {
	clear: both;
}
a {
	text-decoration: none;
    transition: all 0.3s ease-in-out 0s;
}
a:hover{
	text-decoration: none;
}
strong {
	font-weight: 700;
}
p {
	margin: 1px 0 15px;
	line-height: 25px;
}
input, textarea, select {
	font-size: 14px;
	font-family: 'Panton', sans-serif;
	border: none;
	border: 1px solid #c9c9c9;
	padding: 5px;
	margin: 0;
	color: #666;
}
img {
	margin-bottom: -3px;
}
input[type=checkbox], input[type=radio] {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}
h1 {
	font-size: 32px;
}
h2 {
	font-size: 28px;
}
h3 {
	font-size: 24px;
}
h4 {
	font-size: 20px;
}
h5 {
	font-size: 16px;
}
h6 {
	font-size: 14px;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}
section {
    position: relative;
}
/* structure
----------------------------------------------------------------------------------------------*/
.wrapper {
	width: 1200px;
	margin: 0 auto;
}
.mid-wrapper{
	width: 960px;
	margin: 0 auto;
}
.inner-wrapper{
	padding: 0 40px;
}
.inner_wrap{ width:800px; margin: 0 auto; }
.afterclear:after {
	clear: both;
	content: '';
	display: block;
}
/* style button
----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------*/

/*------ header -----*/

header{
	position:relative;
}
header .bottom {
    background-color: #383839;
    text-align: right;
    padding: 25px 0 15px 0;
	position:relative;
	z-index:4;
}
header .logo {
    position: absolute;
    top: 0;
	z-index:1;
}
header .line-fake{
	background:url(../images/material/line-logo.png) repeat-x;
	width:100%;
	height:15px;
	position:absolute;
	top:0;
	left:0;
}
header .bottom .main-menu,header .bottom .sub-menu,header .bottom .sub-menu .search,header .bottom .sub-menu .burger-menu{
	display:inline-block;
}
header .bottom ul {
    margin: 0px;
    padding: 0px 0px 0 0px;
    list-style-type: none;
    display: inline-block;
}
header .bottom ul li {
    display: inline-block;
    margin-left: 50px;
	position:relative;
}
header .bottom ul li a {
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
	line-height:55px;
	
}
header .bottom ul li a:hover,header .bottom .sub-menu a:hover{
	color:#ed1e24;
}
header .bottom ul li:after{
	content:url(../images/material/arrow-menu.png);
	width:23px;
	height:53px;
	position:absolute;
	right:-35px;
	top:0;
}
header .bottom ul li:last-child:after{
	content:'';
}
header .bottom .sub-menu {
	padding:0 10px;
}
header .bottom .sub-menu a{
	color:#fff;
	font-size:30px;
	margin:0 5px;
}

/*header .bottom ul li:after{
	content: "\f054";
	color:#58595b;
	position:absolute;
	right:0;
	top:0;
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 70px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	
}*/
/*-------------------*/
/*--bx-style--*/
.bx-wrapper .bx-viewport{
	-moz-box-shadow:none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border:none;
    left: 0;
}
.bx-wrapper{
	margin: 0 auto;
}
ul#homeSlider,ul#newsSlider{
	padding: 0;
	margin:0;
}
#slider-home .bx-wrapper .bx-pager{
	bottom: 110px;
}
.slider-event .bx-wrapper .bx-pager{
	bottom: 10px;
}
#slider-home .bx-wrapper .bx-pager.bx-default-pager a,
.slider-event .bx-wrapper .bx-pager.bx-default-pager a{
	background: #d91f26;
}
#slider-home .bx-wrapper .bx-pager.bx-default-pager a:hover,#slider-home .bx-wrapper .bx-pager.bx-default-pager a.active,
.slider-event .bx-wrapper .bx-pager.bx-default-pager a:hover,.slider-event .bx-wrapper .bx-pager.bx-default-pager a.active{
	background: #fff;
}
/*---------*/
.edge-pathBottom{
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
}
.edge-pathTopBottom{
    -webkit-clip-path: polygon(0 13%, 100% 0, 100% 87%, 0 100%);
    clip-path: polygon(0 13%, 100% 0, 100% 87%, 0 100%);
}
.edge-pathTopBottom-reserve{
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 87%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 87%);
}
edge.block{
	overflow:hidden;
}
.block {
  color: #fff;
  font-family: 'Fira Sans', sans-serif;
  margin: 0 0 200px;
  padding: 20% 20px;
  text-align: center;
}
.-white {
  background: #fff;
}
.-berry {
  background: #b52b4a;
}
.edge--bottom {
  position: relative;
  z-index: 1;
}
.edge--bottom:after {
  background: inherit;
  content: '';
  display: block;
  height:35px;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 3;
  -webkit-backface-visibility: hidden;
}
.edge--bottom:after {
  bottom: 0;
  -webkit-transform: skewY(-1.5deg);
          transform: skewY(-1.5deg);
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
}
.edge--top {
  position: relative;
  z-index: 1;
}
.edge--top:before {
  background: inherit;
  content: '';
  display: block;
  height: 35px;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 3;
  -webkit-backface-visibility: hidden;
}
.edge--top:before {
  top: 0;
  -webkit-transform: skewY(1.5deg);
          transform: skewY(1.5deg);
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
}


.edge--top--reverse {
  position: relative;
  z-index: 1;
}
.edge--top--reverse:before {
  background: inherit;
  content: '';
  display: block;
  height:35px;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 3;
  -webkit-backface-visibility: hidden;
}
.edge--top--reverse:before {
  top: 0;
  -webkit-transform: skewY(-1.5deg);
          transform: skewY(-1.5deg);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}
.edge--both--reverse {
  position: relative;
  z-index: 1;
}
.edge--both--reverse:before, .edge--both--reverse:after {
  background: inherit;
  content: '';
  display: block;
  height: 35px;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 3;
  -webkit-backface-visibility: hidden;
}
.edge--both--reverse:before {
  top: 0;
  -webkit-transform: skewY(-1.5deg);
          transform: skewY(-1.5deg);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}
.edge--both--reverse:after {
  bottom: 0;
  -webkit-transform: skewY(1.5deg);
          transform: skewY(1.5deg);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

.edge-left{
    -moz-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(-5deg);
    -webkit-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(-5deg);
    -o-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(-5deg);
    -ms-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(-5deg);
    transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(-5deg);
}
.edge-left-content{
	-moz-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(5deg);
    -webkit-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(5deg);
    -o-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(5deg);
    -ms-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(5deg);
    transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(5deg);
}

.edge-right{
    -moz-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(5deg);
    -webkit-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(5deg);
    -o-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(5deg);
    -ms-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(5deg);
    transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(5deg);
}
.edge-right-content{
	-moz-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(-5deg);
    -webkit-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(-5deg);
    -o-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(-5deg);
    -ms-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(-5deg);
    transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(-5deg);
}

#slider-home,#product-page{
	background: #fff;
	margin-top: -58px;
    padding-top: 44px;
	z-index:3;
	border-bottom: 5px solid #fff;
	overflow:hidden;

}
#product-page .edge-left-content,
#slider-home .edge-left-content{
	margin-bottom: -60px;
}
#product-page .left-capt2{
	padding: 200px 0px 115px 175px;

}
.findtire{
	background: url(../images/material/find_tire.png) no-repeat;
	width: 476px;
	height: 236px;
	position: absolute;
	bottom: -40px;
	left: 0;
	z-index: 2;
}
#product-home{
	margin-top: -65px;
	padding-top: 0;
	overflow:hidden;
	border-bottom: 5px solid #fff;	 	 	
	z-index:2;
}
#product-home .edge-left-content{
	margin-bottom: -60px;
}
.product-section{
	background: url(../images/content/bg-product.jpg) no-repeat;
	width: 100%;
	height: 622px;
	position: relative;
}
.left-capt1{
	position: relative;
	display: inline-block;
	background: url(../images/material/bg-prod1.png) no-repeat;
	height: 100%;
	padding:170px 30px;
	width: 648px;
	vertical-align: top;
	z-index: 2;
}
#product-page .left-capt1{
	padding:82px 30px; 
}
.title-cap{
	display: block;
	position: relative;
	width: 250px;
    margin: 0 auto 60px;
}
.sub-cap{
	width: 80%;
	text-align: center;
}
.title-cap:before{
	content: url(../images/material/line-grey.png);
	width: 60px;
	height: 97px;
	position: absolute;
	left: -70px;
	top: 0;
}
.title-cap.red-cap:before{
	content: url(../images/material/line-red.png);
}
.title-cap h3{
	font-size: 40px;
	text-transform: uppercase;
	color: #000;
	font-family: 'Panton Black';
	font-weight: 700;
	font-style: italic;
	margin:0;
}
.title-cap h3:last-child{
	margin-left: -15px;
}
.whiteFont{
	color:#fff !important;
}
.redFont{
	color:#ec1c24 !important;
}
.sub-cap p{
	font-size: 24px;
	text-transform: uppercase;
	color: #fff;
	font-family: 'Panton Black';
	font-weight: 700;
	margin: 0;
}
.sub-cap .side-triangle{
	background: #404041;
	padding: 10px;
	width: auto;
	display: inline-block;
	text-align: center;
	position: relative;
	margin:5px 25px;
}
.sub-cap .side-triangle.white-triangle{
	background: #fff;
}
.sub-cap  .white-triangle p{
	color: #ec1c24;
}
.sub-cap .side-triangle:after{
	content: '';
	position: absolute;
	right: -25px;
	top: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 45px 25px 0 0;
	border-color: #404041 transparent transparent transparent;
}
.sub-cap .side-triangle.white-triangle:after{
	border-color: #fff transparent transparent transparent;
}
.sub-cap .side-triangle:before{
	content: '';
	position: absolute;
	left: -25px;
	top: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 45px 25px;
	border-color: transparent transparent #404041 transparent;
}
.sub-cap .side-triangle.white-triangle:before{
	border-color: transparent transparent #fff transparent;
}
.left-capt2{
	position: relative;
	display: inline-block;
	background: url(../images/material/bg-prod2.png) no-repeat;
	height: 100%;
	padding:300px 0px 115px 135px;
	width: 446px;
	margin-left: -200px;
	vertical-align: top;
	z-index: 1;
}
.caption-small{
	color: #fff;
	width: 200px;
	display: block;
}
.caption-small h4{
	color: #fff;
	font-size: 16px;
	margin: 0;
	text-transform: uppercase;
}
.caption-small p{
	color: #fff;
	font-size: 14px;
}
a.learnMore{
	background: url(../images/material/arrow-learn.png) no-repeat right center;
	font-size: 14px;
	color: #fff;
	text-align: left;
	padding: 0 30px 0 0;

}
#news-home{
	z-index:1;
	overflow:hidden;
	margin-top: -60px;
}
.news-section{
	/*background: url(../images/content/slide-news1.jpg) no-repeat;*/
    width: 100%;
    height: 528px;
    position: relative;
}
.left-news1{
	position: absolute;
	left: 0;
	top: 0;
    display: inline-block;
    background: url(../images/material/bg-news1.png) no-repeat;
    height: 100%;
    padding: 185px 0px 0px 100px;
    width: 481px;
    vertical-align: top;
    z-index: 1;

}

.news-cap1 .title-cap:before{
	content: url(../images/material/line-dark.png);

}
#newsSlider li {
    background-position: right;
    height: 528px;
}

#newsSlider li .slide-caption {
    background: url(../images/material/bg-news2.png) no-repeat;
    width: 487px;
    position: absolute;
    top: 28px;
    bottom: 0px;
    left: 350px;
    color: #fff;
 	padding: 100px 0px 0px 150px;
}
.slider-news .bx-wrapper .bx-controls-direction a{
	width: 50px;
	height: 50px;

}
.slider-news .bx-wrapper .bx-next {
    right: 40px;
    background: url(../images/material/arrow-next.png) no-repeat 0px 0px;
}
.slider-news .bx-wrapper .bx-prev {
    left: 800px;
    background: url(../images/material/arrow-prev.png) no-repeat 0 0px;
}
.bx-wrapper .bx-prev:hover,
.bx-wrapper .bx-next:hover{
	background-position: 0 0;
}

#eventHome{
	z-index: 2;
    overflow: hidden;
    margin-top: -60px;
    border-top: 5px solid #fff;
}
#eventHome .edge-right-content{
	margin-top: -60px;
}
.eventSection{
	width: 100%;
    height: 656px;
    position: relative;
}
.left-event1 {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    background: url(../images/material/bg-event1.png) no-repeat;
    height: 100%;
    padding: 55px 0px 0px 50px;
    width: 731px;
    vertical-align: top;
    z-index: 1;
}
.event-title{
	font-size: 18px;
    text-transform: uppercase;
    color: #000;
    font-family: 'Panton Black';
    font-weight: 700;
    margin: 0;
}
.event-row{
	clear: both;
	padding: 20px 0;
}
.date-event{
	display: inline-block;
	background: #404041;
	padding: 10px 30px 10px 20px;
	height:78px;
	border-radius:20px 0 20px 20px;
	text-align: center;
	vertical-align: middle;
	margin-right: 40px;
	position:relative;
}
.date-event:after{
	content: url(../images/material/right-box.png);
	width:30px;
	height:78px;
	position:absolute;
	right:-14px;
	top:0;
	
	
}
.date-event .number{
	font-size: 24px;
	color: #ffffff;
	display:block;
}
.date-event .month{
	font-size: 24px;
	color: #ffffff;
	font-family: 'Panton Black';
    font-weight: 700;
    clear: both;
}
.detail-event{
	display: inline-block;
	padding: 5px 0;
	vertical-align: middle;
}
.detail-event h4{
	margin:0 0 5px 0;
	font-size: 16px;
	color: #d91f26;
	font-family: 'Panton Black';
    font-weight: 700;
}
.detail-event p{
	margin:0;
}
a.viewAll {
    background: url(../images/material/arrow-view.png) no-repeat right center;
    font-size: 14px;
    color: #d91f26;
    text-align: left;
    font-family: 'Panton Black';
    font-weight: 700;
    padding: 0 30px 0 0;
}
.event-row a.viewAll{
	margin-left: 150px;
} 
#eventSlider li {
    background-position: right;
    height: 600px;
}

#product-list{
	clear: both;
	margin: 150px 0;
	overflow: hidden;
}
.row-listProduct{
    margin-left: 0;
    margin-right: 30px;
}
.row-listProduct:before{
	content: '';
    display: table;
}
.row-listProduct:after{
	content: '';
    clear: both;
}
.row-listProduct .items {
    float: left;
    width: 50%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 30px;
}
.box-skew{
	width: 100%;
	background: #e6e7e8;
	border-bottom: 10px solid #ec1c24;
	padding:20px;
	-ms-transform: skewX(-15deg); /* IE 9 */
    -webkit-transform: skewX(-15deg); /* Safari */
    transform: skewX(-15deg); /* Standard syntax */
    height: 345px; 
    position: relative;
    overflow: hidden;

}
.box-skew .reserve-skew{
	-ms-transform: skewX(15deg); /* IE 9 */
    -webkit-transform: skewX(15deg); /* Safari */
    transform: skewX(15deg); /* Standard syntax */
}
.detail-product {
	padding-left: 25px;
	display: inline-block;
	min-height: 285px;
	vertical-align: top;
}
.detail-product .block-title{
	font-size: 28px;
    text-transform: uppercase;
    color: #ec1c24;
    font-family: 'Panton Black';
    font-weight: 700;
    font-style: italic;
    margin: 0 0 0 35px;
    line-height: 52px;
    position: relative;
}
.detail-product .block-title:before {
    content: url(../images/material/line-black.png);
    width: 27px;
    height: 52px;
    position: absolute;
    left: -30px;
    top: 0;
}
.top-menu-product{
	display: block;
	border-bottom: 2px solid #404041;
	margin-bottom: 25px;
	height: 40px;
}
.breadcum-product{
	float: left;
}
.breadcrumb {
    padding: 0px 15px;
    margin:5px 0 0 0;
    list-style: none;
}

.breadcrumb > li {
    display: inline-block;
}
.breadcrumb li a{
	font-size: 16px;
	color: #231f20;
	
}
.breadcrumb > .active {
    color: #ec1c24;
}
.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: " > " ;
}
.select-product{
	float: left;
}
.select-style {
    padding: 0;
    margin: 0;
    border: 1px solid #404041;
    width: 160px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
    background: #fff url("../images/material/select-arrow.png") no-repeat 90% 50%;
}
.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    color: #404041;
    font-size: 14px;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
.select-style select:focus {
    outline: none;
}
.icon-list{
	padding:10px 0;
	clear: both;
	margin-bottom: 15px;
}
.icon-list .icon-prod{
	display: inline-block;
	width: 38px;
	height: 38px;
	margin-right: 10px;
}
.desc-prod p,.desc-prod span{
	font-family:  Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14px;
	color: #231f20;
}
.desc-prod span{
	color: #808184;
	font-style: italic;
}
.detail-product .learnMore{
	position: absolute;
	color: #231f20;
	bottom: 0px;
	left: 0px;
}
.product-img{
	background: url(../images/material/bg-listproduct.png) center center;
	display: inline-block;
	vertical-align: top;
	position: absolute;
	right: -20px;
    top: -25px;
	width: 282px;
	height: 345px;
	-ms-transform: skewX(-15deg); /* IE 9 */
    -webkit-transform: skewX(-15deg); /* Safari */
    transform: skewX(-15deg); /* Standard syntax */
  
}
.inner-product{
	position: relative;
	width: 100%;
	height: 100%;
	-ms-transform: skewX(15deg); /* IE 9 */
    -webkit-transform: skewX(15deg); /* Safari */
    transform: skewX(15deg); /* Standard syntax */
}
.product-ban{
	width: 200px;
	left: 50%;
	margin-left: -100px;
	position: absolute;
	bottom: -250px;
}
.label-new{
	width: 107px;
	height: 85px;
	position: absolute;;
	right: -45px;
	top: 0;
}

#carousel-ban{
	padding: 100px 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+39,6b6969+100 */
	background: #ffffff; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #ffffff 39%, #6b6969 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, #ffffff 39%,#6b6969 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, #ffffff 39%,#6b6969 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#6b6969',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.content-carousel{
	position: relative;
	width: 900px;
	height: 400px;
	margin: 0 auto;
}
.content-carousel #prev,.content-carousel #next{
	width: 25px;
	height: 53px;
	display: block;
	position: absolute;
	top: 30%;
}
.content-carousel #prev{
	background: url(../images/material/car-prev.png) no-repeat;
	left: 0;
}
.content-carousel #next{
	background: url(../images/material/car-next.png) no-repeat;
	right: 0;
}
#banCarousel {
    width:800px;
    height: 300px;
    margin: 0 auto;
    display: relative;
  }
  #banCarousel img {
    display: hidden; /* hide images until carousel prepares them */
    cursor: pointer; /* not needed if you wrap carousel items in links */
  }
  .product-detail{
  	margin: 50px 0 100px 0;
  }
  #details{
  	padding: 20px 0;
  	border-bottom: 2px solid #929497;
  }
  .main-product{
  	display: inline-block;
  	width: 400px;
  	text-align: center;
  	vertical-align: top;
  }
  .main-desc{
  	width: 65%;
  	display: inline-block;
  	vertical-align: top;
  }
   .top-desc{
   	padding-bottom: 15px;
   	border-bottom: 2px solid #929497;
   }
  .top-desc h1.title-block{
  	font-size: 43px;
    text-transform: uppercase;
    color: #231f20;
    font-family: 'Panton Black';
    font-weight: 700;
    font-style: italic;
    display: inline-block;
    position: relative;
	vertical-align: middle;
	margin-right: 10px;
  }
   .top-desc span.type{
   	display: inline-block;
   	text-transform: uppercase;
   	font-family: 'Panton Black';
    font-weight: 700;
   	font-size: 16px;
	font-style: normal;
	color: #808184;
	vertical-align: middle;
}
.top-desc span.miring{
	display: inline-block;
    font-weight: 700;
   	font-size: 43px;
	font-style: normal;
	color: #231f20;
	vertical-align: middle;
	margin-right: 10px; 	
}
.share-row{
	padding: 20px 0;
	display: block;
}
.share-row a{
	display: inline-block;
	margin-right: 10px;
}
.share-row a.facebook{

}
.bottom-desc{
	padding-bottom: 15px 0;
}
.bottom-desc h3{
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	font-family: 'Panton Black';
	color: #404041;
}
.rowperform{
	clear: both;
	padding: 10px 0; 
}
.rowperform a{
	display: inline-block;
	margin-right: 15px;
}
p.terms{
	font-size: 14px;
	color: #231f20;
}
p.terms:before{
	content: "*";
	display: inline-block;
	margin-right: 5px;
}
p.terms .greys{
	color: #58595b;
}
.rowbutton{
	display: block;
	padding: 10px 0;
	clear: both;
}
.rowbutton a{
	margin-right: 10px;
}
.buttonskew{
	display: inline-block;
	width: 140px;
	height: 40px;
	background: #404041;
	text-align: center;
	color: #fff;
	font-size: 14px;
	font-family: 'Panton Black';
    font-weight: 700;
    line-height: 40px;
    font-style: italic;
    -ms-transform: skewX(-25deg);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
.buttonskew .reserve-skew{
    -ms-transform: skewX(25deg);
    -webkit-transform: skewX(25deg);
    transform: skewX(25deg);
}
.buttonskew:hover{
	background: #ec1c24;
	color: #fff;
	text-decoration: none;
}
#table-section{
	margin-top: 50px;
}
.section-row{
	padding: 50px 0;
	clear: both;
}
.title-edge{
	display: block;
	border-bottom: 1px solid #d0d2d3;
	margin-bottom: 40px;
}
.title-edge h3{
	width: 203px;
	height: 34px;
	background: url(../images/material/title-edge.png) no-repeat;
	text-align: center;
	text-align: center;
	color: #fff;
	font-size: 14px;
	font-family: 'Panton Black';
    font-weight: 700;
    line-height: 34px;
    margin: 0;
}
.table-detail table{
	width: 100%;
}
.table-detail table tr th{
	padding: 3px;
}
.table-detail table tr td{
	padding: 10px;
	text-align: center;
	font-size: 13px;
	color: #231f20;
}
tbody tr:nth-child(odd) {
   background-color: #e6e7e8;
}
.skew-th{
	width: 100%;
	padding: 5px;
	text-align: center;
	font-size: 12px;
	font-weight: 700;
	color: #fff;
	background: #ec1c24;
	  -ms-transform: skewX(-25deg);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
.skew-th .reserve-skew-th{
	 -ms-transform: skewX(25deg);
    -webkit-transform: skewX(25deg);
    transform: skewX(25deg);
}
.row-progrees{
	padding: 5px 0;
	clear: both;
}
.left-progress{
	width: 70%;
	padding: 18px 0 0 0;
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
}
.left-progress .progress{
	border-radius: 15px;
	height: 25px;
}
.left-progress .progress-bar{
	background-color: #d91f26;
	border-radius: 15px;
}
.progres-icon{
	width: 176px;
	display: inline-block;
	vertical-align: top;
}
.row-col{
	margin-left: -15px;
	margin-right: -15px;
}
.row-col:before,.row-col:after{
	content: '';
    display: table;
}
.row-col:after{
	content: '';
    clear: both;
}
.row-col .col2{
	float: left;
    width: 50%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 30px;
}
.overview-title{
	color: #d91f26;
    font-size: 16px;
    font-family: 'Panton Black';
    font-weight: 700;
    margin:0 0 5px 0;
}
.content-overview ul{
	list-style: none;
	padding: 0 0 0 18px;
}
.content-overview ul li{
	font-size:14px;
	margin-bottom: 5px;
	position: relative;
}
.content-overview ul li:before {
    content: "• ";
    color: #d91f26;
    font-size: 45px;
    position: absolute;
    left: -18px;
    line-height: 12px;
    top: 0;
}
.downloadbrosure{
	background: url(../images/material/brosure.png) no-repeat;
	width: 220px;
	height: 34px;
	float: right;
}
#career-page{
	    background: #fff;
    margin-top: -58px;
    padding-top: 44px;
    z-index: 3;
    border-bottom: 5px solid #fff;
    overflow: hidden;
}
#career-page .edge-left-content {
    margin-bottom: -60px;
}
.career-section {
}
.bg-career{
	position: relative;
	z-index: 1;
}
.bg-career img{
	width: 100%;
}
.career-right{
	position: absolute;
	z-index: 2;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.bg-right{
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}
.content-career{
	width: 350px;
	position: absolute;
	right: 50px;
	top: 40px;
	z-index: 2;
}
.content-career h3{
	font-size: 26px;
    text-transform: uppercase;
    color: #000;
    font-family: 'Panton Black';
    font-weight: 700;
    font-style: italic;
    margin: 0;
}
.content-career .learnMore{
	color: #231f20;
}
#career-news{
    z-index: 1;
    overflow: hidden;
    margin-top: -105px;
}
.career-news-section{
	position: relative;
	z-index: 1;
}
.left-news-career{
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.bg-left-career {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}
.title-career-news{
	width: 350px;
    position: absolute;
    left: 150px;
    top: 280px;
    z-index: 2;
}
.title-career-news h3{
	color: #fff;
}
#faq-row{
	z-index: 2;
    overflow: hidden;
    margin-top: -60px;
    border-top: 5px solid #fff;
}
#faq-row .edge-right-content {
    margin-top: -60px;
}
.faq-section{
	background: #bbbdbf;
    width: 100%;
    padding-bottom: 130px;
    position: relative;
}
.faq-title{
	display: inline-block;
	width: 30%;
	vertical-align: top;
	padding: 150px 0 0 200px;
}
.faq-title .title-cap h3{
	color: #fff;
}
.faq-content{
	width: 69%;
	display: inline-block;
	vertical-align: top;
	padding: 150px 100px 0 40px;
}

#content-accodion {
    margin-top: 40px;
    margin-bottom: 40px;
}
#content-accodion .items {
    margin-bottom: 10px;
}
#content-accodion h4.page {
    color: #666666;
    background-color: #fff;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-radius:10px;
    margin: 0px;
    padding: 15px;
    font-size: 15px;
    font-weight: 600;
    position: relative;
    cursor: pointer;
}
#content-accodion h4.page.active {
    color: #fff;
    background-color: #ec1c24;
    border-top: 1px solid #ec1c24;
    border-bottom: 1px solid #ec1c24;
}
#content-accodion .content {
    display: none;
    padding: 20px;
    border-radius:10px;
    background: #fff;
}

/*----------------------------------------------------------------*/
/*--------footer-----------*/
#top-footer{
	clear: both;
	display: block;
	background: #404041;
	padding: 20px;
	z-index: 2;
	margin-top: -60px;
}
.maskot{
	background: url(../images/material/maskot.png) no-repeat;
	width: 164px;
	height: 204px;
	position: absolute;
	left: 40px;
	bottom: 0;
	z-index: 4;
}
.left-top-footer{
	display: inline-block;
	padding-left: 220px;
	position: relative;
	vertical-align: top;
}

.right-top-footer{
	display: inline-block;
	position: relative;
	vertical-align: top;
	padding:20px 0 0 100px;
}
.left-top-footer:after{
	content: "/";
	color: #fff;
	position: absolute;
	right: -50px;
	top: 0;
	display: inline-block;
	font-size: 80px;
}
.left-top-footer h1{
	font-size: 40px;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Panton Black';
    font-weight: 700;
    font-style: italic;
    margin: 0;
}
.socmed,.subscribe{
	display: inline-block;
	vertical-align: top;
	margin-right: 25px;
}
.socmed label{
	font-size: 14px;
	color: #fff;
	margin-bottom: 15px;
	display: block;
}
.socmed ul{
	margin:0;
	padding:0;
}
.socmed ul li{
	display: inline-block;
	margin-right: 10px;
}
.socmed ul li a{
	width: 30px;
	height: 30px;
	line-height: 33px;
	display: inline-block;
	text-align: center;
	font-size: 18px;
	border-radius: 100%;
	background: #fff;
	color: #d91f26;
}
.subscribe input[type=text]{
	background: url(../images/material/arrow-input.png) no-repeat 98% center;
	color: #fff;
	font-size: 14px;
	border-radius: 10px;
	padding:5px 10px;
	margin-top: 25px;
}
footer{
	clear:both;
	border-top:4px solid #cc2329;
}
footer .top-foot,footer .bottom-foot{
	overflow:hidden;
	clear:both;
}
.foot-menu{
	width:65%;
	background:#231f20;
	position:relative;
	height:237px;
	padding:30px 40px;
	float:left;
}
.sponsor{
	width:35%;
	float:left;
	padding:70px 0 0 170px;	
}
.sponsor label{
	display:block;
	margin-bottom:15px;
	padding-left:15px;
}
.foot-menu:after{
	content:url(../images/material/foot-triangle.png);
	width:166px;
	height:237px;
	position:absolute;
	right:-166px;
	top:0;
}
.row-menu{
    margin-left: -15px;
    margin-right: -15px;
}
.row-menu:before{
	content: '';
    display: table;
}
.row-menu:after{
	content: '';
    clear: both;
}
.row-menu .col5 {
    float: left;
    width: 20%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 30px;
}
.row-menu .col5 h3{
	margin:0 0 10px 0px;
	color:#fff;
	text-transform:uppercase;
}
.row-menu .col5 ul{
	padding:0;
	margin:0;
}
.row-menu .col5 ul li{
	list-style:none;
	margin-bottom:5px;
	display:block;
}
.row-menu .col5 ul li a{
	font-size:14px;
	color:#d0d2d3;
}
.row-menu .col5 ul li a:hover{
	color:#ed1e24;
}
footer .bottom-foot{
	background:#000;
	color:#d0d2d3;
	padding:5px 20px;
	border-top:1px #999 dashed;
}
footer .bottom-foot p{
	padding-top:30px;
}
/*-------------------*/
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 480px) {
/* Mobile styles */
}
 @media screen and (min-width:481px) and (max-width:1024px) {
/* Tablet styles */
}
 @media only screen and (min-width: 1140px) {
/* Desktop styles */
}
